body {
    font-family: 'Nunito Sans', sans-serif;

}

h1 {
    font-size: 40px;
}

.name {
    color: orange;
}

.flex {
    display: flex;

}

.half-width {
    width: 50%;
    padding-left: 10%;

}

.half-width img {
    width: 70%;

}

.link-button {
    text-decoration: none;
    padding: 10px 40px;
    background-color: rgb(33, 240, 240);
    border-radius: 4px;
    color: rgb(29, 6, 6);
    font-weight: 800;
    background-image: linear-gradient(rgb(27, 210, 243) rgb(89, 71, 255));

}

.top-banner {
    background-image: url(backimgg.png);
    background-repeat: no-repeat;

}

.items {
    display: flex;
    width: 50%;
}

.last-part {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 4px;
    box-shadow: 10px 10px 40px lightcoral;
    border-left: 7px solid;
}

#last {
    border-left: 7px solid;
    border-image:
        linear-gradient(to bottom,
            red,
            rgba(0, 0, 0, 0)) 1 100%;
    /* border-image-slice: 1; */

}

#lastt {
    border-left: 7px solid;
    border-image:
        linear-gradient(to bottom,
            red,
            rgba(0, 0, 0, 0)) 1 100%;

}

#footr {
    background-color: rgb(19, 13, 13);
    text-align: center;
    color: rgb(250, 233, 233);
    margin-top: 20px;

}

.assi {
    display: flex;
}

.ssc {
    width: 40%;
    padding-left: 6%;
}

.ssc {
    border: 6px solid;
    border-radius: 4px;
    border-left: 4px;
    border-bottom: 4px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
    border-image:
        linear-gradient(to bottom,
            rgb(5, 173, 234),
            rgba(231, 9, 175, 0)) 1 100%;

}

h2 {
    font-size: 30px;
}

.adjust {

    margin-bottom: -60px;
    padding-left: 1%;

}